* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Verdana";
}

header.jumbotron {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/fotografy-2.JPG);
  background-size: cover;
  background-position: center;
  margin-block: auto;

  display: flex;
  flex-direction: column;
}

header.jumbotron .navbar-container {
  width: 100%;
  display: flex;
  margin-inline: auto;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
}

header.jumbotron .navbar-container .logo img {
  width: 150px;
  cursor: pointer;
}

header.jumbotron .navbar-container .nav-list {
  display: flex;
  font-size: 18px;
  gap: 2rem;
  text-decoration: none;
}

header.jumbotron .navbar-container .nav-list li {
  list-style-type: none;
}

header.jumbotron .navbar-container .nav-list li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}

header.jumbotron .navbar-container .nav-list li a:hover {
  color: #d66939;
}

header.jumbotron .content-self {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  margin-block: auto;
  margin-left: 50px;
  color: white;
}

header.jumbotron .content-self .content-self-left {
  width: 60%;
}

header.jumbotron .content-self .content-self-left h1 {
  font-size: 50px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 1.5px;
}

header.jumbotron .content-self .content-self-left p {
  width: 55%;
  padding-top: 20px;
  line-height: 1.6;
}

header.jumbotron .content-self .content-self-left button {
  width: 35%;
  margin-top: 40px;
  padding: 12px 0;
  background: transparent;
  border: 3px solid #d66939;
  font-size: 15px;
  font-weight: bold;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header.jumbotron .content-self button:hover {
  background-color: #d66939;
}

header.jumbotron .content-self .content-self-right {
  width: 30%;
  display: flex;
  align-items: center;
}

header.jumbotron .content-self .content-self-right .line {
  height: 200px;
  border-left: 3px solid white;
  transition: 0.3s ease-in-out;
}

header.jumbotron .content-self .content-self-right ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: self-start;
}

header.jumbotron .content-self .content-self-right ul li {
  list-style-type: none;
  justify-content: space-around;
  font-family: "Verdana";
  color: white;
}

header.jumbotron .content-self .content-self-right ul li a {
  font-family: "Verdana";
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
header.jumbotron .content-self .content-self-right ul li i {
  padding-right: 5px;
}

header.jumbotron .content-self .content-self-right ul li a:hover {
  color: #d66939;
}

main .content-container #offers {
  height: 50vh;
  background-color: white;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main .content-container #offers div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .content-container #offers img {
  width: 60px;
}

main .content-container #offers article h3 {
  padding: 10px 0px;
}

/* gallery */
main .content-container #gallery {
  /* height: 100vh; */
  width: 100%;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main .content-container #gallery .gallery-heading {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

main .content-container #gallery .gallery-heading .gallery-line {
  width: 65%;
  border-top: 4px solid #d66939;
}

main .content-container #gallery h1 {
  font-size: 30px;
  padding-left: 80px;
}

main .content-container #gallery .gallery-videos {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 20px;
  padding-bottom: 30px;

  background: rgba(214, 105, 57, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(214, 105, 57, 0.28);
}

main .content-container #gallery .gallery-photos {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 30px;

  background: rgba(214, 105, 57, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(214, 105, 57, 0.28);
}

main .content-container #gallery .gallery-photos img {
  width: 300px;
}

/* Pricing */
main .content-container #pricing {
  width: 100%;
  /* height: 100vh; */
  padding-bottom: 40px;
  padding-top: 50px;
}

main .content-container #pricing .pricing-heading {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

main .content-container #pricing .pricing-heading h1 {
  width: 30%;
  font-size: 30px;
  padding-left: 80px;
}

main .content-container #pricing .pricing-heading .pricing-line {
  width: 70%;
  border-top: 3px solid #d66939;
}

main .content-container #pricing .pricing-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

main .content-container #pricing .pricing-list .pricing-card {
  width: 25%;
  background-color: #eee;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

main .content-container #pricing .pricing-list .pricing-card h3 {
  font-size: 25px;
}

main .content-container #pricing .pricing-list .pricing-card h4 {
  font-size: 20px;
  color: #d66939;
  padding-top: 23px;
}

main .content-container #pricing .pricing-list .pricing-card p {
  padding-top: 15px;
  font-size: 16px;
  text-align: center;
}

main .content-container #pricing .pricing-list .pricing-card ul {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

main .content-container #pricing .pricing-list .pricing-card ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

main .content-container #pricing .pricing-list .pricing-card button.btn {
  padding: 15px 40px;
  font-weight: bold;
  margin-block: auto;
  background-color: transparent;
  border: 3px solid #d66939;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

main .content-container #pricing .pricing-list .pricing-card button.btn:hover {
  background-color: #d66939;
  font-size: white;
  font-weight: bold;
  color: white;
}

main .content-container #pricing .pricing-list .pricing-card img {
  width: 25px;
}

/* Contact */
main .content-container #contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-top: 30px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/back-1.jpg);
  background-size: cover;
  background-position: center;
}

main .content-container #contact .contact-heading {
  width: 100%;
  display: flex;
  align-items: center;
}

main .content-container #contact .contact-heading .contact-line {
  width: 60%;
  border-top: 4px solid #d66939;
}

main .content-container #contact .contact-heading h1 {
  width: 40%;
  font-size: 30px;
  padding-left: 120px;
  color: white;
}

main .content-container #contact .contact-form {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  margin-block: auto;
}

main .content-container #contact .contact-form form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-inline: auto;
}

main .content-container #contact .contact-form form input {
  font-size: 15px;
  width: 100%;
  padding: 15px;
}

main .content-container #contact .contact-form form input:focus {
  border: 2px solid #d66939;
  outline: none;
}

main .content-container #contact .contact-form form textarea {
  width: 100%;
  font-size: 15px;
  height: 120px;
  padding: 15px;
}

main .content-container #contact .contact-form form textarea:focus {
  border: 2px solid #d66939;
  outline: none;
}

main .content-container #contact .contact-form form button {
  width: 40%;
  padding: 15px;
  font-size: 15px;
  background-color: #d66939;
  outline: none;

  margin-inline: auto;
  cursor: pointer;
  color: white;
  border-radius: 40px;
}

/* About */
main aside#about {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

main aside#about .about-heading {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

main aside#about .about-heading .about-heading-line {
  width: 40%;
  border-top: 3px solid #d66939;
}

main aside#about .about-heading h1 {
  width: 20%;
  font-size: 30px;
  text-align: center;
}

main aside#about .about-heading .about-heading-line2 {
  width: 40%;
  border-top: 3px solid #d66939;
}

main aside#about .about-me {
  width: 100%;
  height: 65%;
  background-color: #eee;

  display: flex;
  align-items: center;
}

main aside#about .about-me .about-line {
  width: 20%;
  margin-top: 70px;
  border-top: 3px solid #d66939;
  align-self: flex-start;
}

main aside#about .about-me img {
  width: 320px;
}

main aside#about .about-me article {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px;
}

main aside#about .about-me article h3 {
  font-size: 30px;
  padding-bottom: 20px;
}

main aside#about .about-me article p {
  width: 60%;
  font-size: 16px;
  line-height: 30px;
}

/* Footer */

footer {
  width: 100%;
  padding: 20px;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer img {
  width: 140px;
  cursor: pointer;
}

footer .social-media p {
  font-size: 14px;
  color: white;
  text-align: center;
}

footer .social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .social-media a {
  font-size: 30px;
  color: white;
  transition: 0.3s ease-in-out;
}

footer button {
  padding: 15px 45px;
  font-size: 15px;
  background-color: transparent;
  color: white;
  border: 3px solid #d66939;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

footer button:hover {
  background-color: #d66939;
}

footer .social-media a:hover {
  color: #d66939;
}

/* Hamburger */
.hamburger {
  position: relative;
  display: none;
  left: 85%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 1000;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;

  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 100%;

  width: 30%;
  height: 100vh;
  display: block;
  background-color: #d66939;
  padding-top: 200px;
  transition: 0.4s;
  z-index: 999;
}

.mobile-nav.is-active {
  right: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;

  color: black;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.mobile-nav a:hover {
  color: white;
}

/* Responsive */

@media screen and (max-width: 768px) {
  header.jumbotron .navbar-container {
    flex-direction: column;
  }
  header.jumbotron .navbar-container ul.nav-list {
    display: none;
  }

  header.jumbotron .content-self {
    width: 100%;
    margin-left: 0;
    margin-block: auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
  }

  header.jumbotron .content-self .content-self-left {
    width: 100%;
  }
  header.jumbotron .content-self .content-self-left h1 {
    font-size: 30px;
    text-align: center;
  }
  header.jumbotron .content-self .content-self-left p {
    width: 100%;
    font-size: 15px;
    text-align: justify;
  }

  header.jumbotron .content-self .content-self-left button {
    width: 60%;
  }
  header.jumbotron .content-self .content-self-right {
    width: 100%;
    padding-top: 20px;

    text-align: center;
    flex-direction: column;
  }
  header.jumbotron .content-self .content-self-right .line {
    height: 10px;
    border-left: none;
  }

  header.jumbotron .content-self .content-self-right .social-media ul {
    padding-left: 0px;
    gap: 1rem;
  }

  header.jumbotron .content-self .content-self-right .social-media ul a {
    font-size: 16px;
  }

  .hamburger {
    display: block;
  }

  /* Offers */
  main .content-container #offers {
    width: 100%;
    margin: 40px 0px;
  }
  main .content-container #offers h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }

  main .content-container #offers div {
    width: 100%;
    height: 100vh;
    flex-direction: column;

    align-items: center;
    gap: 1rem;
  }

  main .content-container #offers div .card {
    width: 100%;
    padding: 0px 15px;
  }

  main .content-container #offers div .card img {
    width: 40px;
  }

  /* Gallery */
  main .content-container #gallery {
    width: 100%;
    flex-direction: column;
  }

  main .content-container #gallery .gallery-heading .gallery-line {
    width: 50%;
  }

  main .content-container #gallery .gallery-heading h1 {
    font-size: 20px;
    padding-left: 20px;
  }

  main .content-container #gallery .gallery-videos {
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1.5rem;
  }

  main .content-container #gallery .gallery-videos article.video {
    padding-left: 0px;
  }

  main .content-container #gallery .gallery-videos video {
    width: 120px;
  }
  main .content-container #gallery .gallery-photos {
    flex-wrap: wrap;

    padding-left: 0px;
    gap: 1.5rem;
  }
  main .content-container #gallery .gallery-photos img {
    padding-left: 0px;
    width: 120px;
  }

  /* pricing */
  main .content-container #pricing .pricing-heading {
    padding-right: 0px;
  }

  main .content-container #pricing .pricing-heading h1 {
    font-size: 20px;
    padding-left: 20px;
  }

  main .content-container #pricing .pricing-list {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 30px;

    align-items: center;
  }
  main .content-container #pricing .pricing-list .pricing-card {
    width: 100%;
  }

  main .content-container #pricing .pricing-list .pricing-card h3 {
    font-size: 20px;
  }

  /* Contact */

  main .content-container #contact {
    height: 50vh;
  }

  main .content-container #contact .contact-heading {
    width: 100%;
  }

  main .content-container #contact .contact-heading .contact-line {
    width: 30%;
  }
  main .content-container #contact .contact-heading h1 {
    width: 70%;
    font-size: 20px;
    padding-left: 15px;
  }
  main .content-container #contact .contact-form form {
    width: 80%;
  }
  main .content-container #contact .contact-form form button {
    width: 60%;
    padding: 15px 20px;
    outline: none;
  }

  /* about */
  main aside#about {
    height: 100vh;
  }

  main aside#about .about-heading h1 {
    width: 60%;
    font-size: 20px;
  }
  main aside#about .about-me {
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
  }

  main aside#about .about-me img {
    width: 260px;
  }

  main aside#about .about-me article h3 {
    font-size: 20px;
  }
  main aside#about .about-me article p {
    width: 100%;
    text-align: justify;
  }

  /* footer */
  footer {
    width: 100%;
    margin-top: 120px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  footer img {
    width: 80px;
  }
  footer .social-media a {
    font-size: 20px;
  }
  footer .social-media p {
    font-size: 12px;
  }
  footer button {
    background-color: #d66939;
    padding: 10px 15px;
  }
}
